<br>
<button type="submit" type="reset" class="btn btn-primary" routerLink="/hoteles" routerLinkActive="active">Regresar</button>


<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-5">
            <!--<form (ngSubmit)="registrar()">-->
            <form>
                <form class="box">
                    <h1>Bienvenido Ingresa un nuevo evento</h1>
                    <img class="avatar" src="assets/calendario.png">
                    <div class="mb-3">
                        <label for="start" class="texto"><b>Fecha Evento</b></label><br><br>

                        <input type="date" id="start" name="trip-start" min="2021-01-01" max="2025-01-01" id="inputPrecio" name="precio" #precio="ngModel" [(ngModel)]="modeloEvento.fecha">

                    </div>
                    <div class="mb-3">
                        <label for="inputNombre" class="texto"><b>tipo Evento</b></label><br>
                        <input type="text" class="text" id="inputNombre" name="nombre" #nombre="ngModel" [(ngModel)]="modeloEvento.tipoEvento">
                        <div class="mb-3">
                            <label for="inputPrecio" class="texto"><b>Hora</b></label><br><br>
                            <input type="time" name="hora" min="00:00:00" max="23:59:59" id="inputPrecio" name="precio" #precio="ngModel" [(ngModel)]="modeloEvento.hora">
                        </div>
                    </div>


                    <div class="col-md-6">
                        <label for="inputHotel" class="texto" style="margin-left:200px"><b>Hotel</b></label>
                        <select type="hotel" class="form-select" style="margin-left:93px" name="hotel" #hotel="ngModel" [(ngModel)]="modeloEvento.hotel">
              <option selected=""></option>
              <option *ngFor="let hotl of evento" value="{{hotl._id}}">{{hotl.nombre}}</option>
              </select>
                    </div>
                    <br>
                    <button type="reset" class="btn btn-primary" (click)="registrarEvento()">Agregar Evento</button>
                </form>
            </form>
        </div>
    </div>
</div>