<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Gestion Hoteles</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/registro" routerLinkActive="active">Registro</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/principal" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/todoshoteles" routerLinkActive="active">Hoteles</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/micuenta" routerLinkActive="active">Mi Cuenta</a>
                </li>


            </ul>
            <div class="d-flex" *ngIf="_usuarioService.getIdentidad()">
                <img *ngIf="_usuarioService.getIdentidad().imagen" [src]="_usuarioService.getIdentidad().imagen" class="user-image">
                <img *ngIf="_usuarioService.getIdentidad().imagen === null" src="/assets/man.png" class="user-image">
                <a class="nav-link">{{ _usuarioService.getIdentidad().nombre}}</a>

            </div>
        </div>
    </div>
</nav>